{
   "overrides": [
      {
         "files": ["*.js", "*.jsx"],
         "options": {
            "semi": false,
            "singleQuote": true,
            "arrowParens": "avoid"
         }
      }
   ]
}
