.landingPage {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 60%;
  height: 100%;
  color: black;
}
.tickerTable {
  margin: 20% 0%;
}
.tickerTableHeader {
  margin: 1% 20%;
}
.tickerRow {
  padding: 1% 20%;
  border-top: 1px solid rgb(223, 223, 223);
  font-size: 16px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: baseline;
  align-items: center;
}
.tickerRow:last-child {
  border-bottom: 1px solid rgb(212, 212, 212);
}
.tickerRow:hover {
  background-color: rgba(228, 228, 228, 0.322);
  cursor: pointer;
}
.tickerLabel {
  color: white;
  font-weight: 500;
  font-size: 12px;
  width: 41px;
  text-align: center;
  padding: 5px 7px;
  border-radius: 5px;
  background-color: aqua;
}
.tickerName {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-items: baseline;
  align-items: center;
  gap: 10px;
  width: 250px;
}
.AAPL {
  background-color: rgba(165, 42, 42, 0.747);
}
.GOOGL {
  background-color: rgb(11, 92, 11, 0.747);
}
.TSLA {
  background-color: rgb(97, 97, 97, 0.747);
}
.FB {
  background-color: rgb(46, 46, 131, 0.747);
}
.AMZN {
  background-color: rgb(224, 100, 55, 0.747);
}
.MSFT {
  background-color: rgb(170, 46, 154);
}
