$colors: (
  "1": #666666,
  "2": #469c46,
  "3": #d5ec61,
  "4": #c26c03,
  "5": #711dc4,
  "6": #e31937,
);

.TickerRow {
  font-size: 14px;
  transition: 0.3s;
  
  &:nth-child(odd) {
    background-color: #fff;
  }
  
  &:nth-child(even) {
    background-color: #f7f7f7;
  }
  
  &:hover {
    background-color: #e4f1e9;
    transition: 0.3s;
  }
  
   @each $index, $color in $colors {
    &:nth-child(#{$index}) {
      &::before {
        content: "";
        display: block;
        background-color: $color;
        border-radius: 2px;
        width: 15px;
        height: 15px;     
        margin: 20px auto;
      }
    }
  }
    
  &__data {
    letter-spacing: 1px;
    text-align: center;

    padding: 10px;
    
    &--column {
      font-weight: 700;
      font-size: 16px;
    }

    &--currency::after {
      content: "$";
    }

    &--size {
      font-size: 12px;
    }
  }
}
