.TickersList {
  table-layout: fixed;
  width: 100%;
  border: 5px solid #fff;
  border-radius: 3px;
  border-collapse: collapse;
  outline: 3px solid #01389d;

  margin-top: 50px;

  &__table-header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
    background-color: #01389d;
    color: #fff;
    
    padding: 15px;

    &:first-child {
      width: 3%;
    }

    &:nth-child(7){
      width: 8%;
    }

    &:last-child {
      width: 12%;
    }
  }
}
