.HomePage {
  background-image: url("../../img/finance.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  border-radius: 3px;
  border: 5px solid #fff;
  outline: 3px solid #01389d;

  margin-top: 50px;
}
