.header {
  height: 150px;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 255, 0.5),
      rgba(255, 255, 0, 0.5)
    ),
    url('../assets/header_background.jpg');
  margin-bottom: 30px;
}

.header h1 {
  text-align: center;
  padding-top: 75px;
  margin: 0;
  color: rgb(230, 244, 234);
}
